.container{
    background-image: url(kavi\ friuts.jpeg) ;
    background-size: auto;
    background-repeat: no-repeat;
    height: 590px;
    width: 100%;
    
}
.account{
    display: flex;
    justify-content: right;
    align-items: right-end;
    margin-bottom: 10px;


}
.part{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 300px;
    color: aliceblue;
}
.level{
    display: flex;
    justify-content: center;
    align-items: center;


}
.containeri{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 20px;
    column-gap: 20px;
    margin: 30px;       
 }
 .img{

    float: left;
    height: 185px;
    width: 100px;
    margin-right: 10px;
 }
 .para{
    border:  1cqmin solid black;

 }
 .log{
    position: absolute;
    border:1px solid black ;
    background-color: white;
    height: 80px;
    left: 47%;
    top: 40%;
    text-align: center;
    width: 70px;
    border-radius: 50%;
 }
 .e{
    position: absolute;
    text-align: center;
    right: 30%;
    font-size: 40px;
    text-decoration-color: aliceblue;
 }
